<ion-card style="border: 1px solid #f8f8f8">
  <ion-card-header>
    <ion-item lines="none" class="ion-no-padding">
      <ion-avatar slot="start" class="img-with-icon" style="background-color: #917449;">
        <fa-icon style="margin: auto; font-size: 25px; color: white;" [icon]="['fas','car']"></fa-icon>
      </ion-avatar>
      <ion-label>
        <h2 style="color: white; font-weight: bold;">Moving Concierge</h2>
        <p style="color: white;">Hold Tight! Being Scheduler...</p>
      </ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none" color="none" style="background-color: white; border: 1px solid white; border-radius: 5px;">
      <ion-avatar>
        <fa-icon style="margin: auto; font-size: 25px; padding-right: 10px;" [icon]="['fas','camera']"></fa-icon>
      </ion-avatar>
      <ion-label>
        <h3 style="color: black;">e.g.,I'd prefer an early morning move time if possible</h3>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-card style="border: 1px solid #f8f8f8">
  <ion-card-header>
    <ion-item lines="none" class="ion-no-padding">
      <ion-avatar slot="start" class="img-with-icon" style="background-color: #9da346;">
        <fa-icon style="margin: auto; font-size: 25px; color: white;" [icon]="['fas','chair']"></fa-icon>
      </ion-avatar>
      <ion-label>
        <h2 style="color: white; font-weight: bold;">Furniture Assembly</h2>
        <p style="color: white;">Hold Tight! Being Scheduler...</p>
      </ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none" color="none" style="background-color: white; border: 1px solid white; border-radius: 5px;">
      <fa-icon style="margin: auto; font-size: 25px; padding-right: 10px;" [icon]="['fas','camera']"></fa-icon>
      <ion-label>
        <h3 style="color: black;">Add a note</h3>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-card style="border: 1px solid #f8f8f8">
  <ion-card-header>
    <ion-item lines="none" class="ion-no-padding">
      <ion-avatar slot="start" class="img-with-icon" style="background-color: #37656d;">
        <fa-icon style="margin: auto; font-size: 25px; color: white;" [icon]="['fab','apple']"></fa-icon>
      </ion-avatar>
      <ion-label>
        <h2 style="color: white; font-weight: bold;">Groceries Plus</h2>
        <p style="color: white;">Hold Tight! Being Scheduler...</p>
      </ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none" color="none" style="background-color: white; border: 1px solid white; border-radius: 5px;">
      <fa-icon style="margin: auto; font-size: 25px; padding-right: 10px;" [icon]="['fas','list']"></fa-icon>
      <ion-label>
        <h3 style="color: black;">Manage list (10 items)</h3>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>