.img-with-icon {
    display: flex;
    align-content: center;
  }
  .comment-area {
    width: 100%;
    border: 0.5px solid lightgray;
    border-radius: 25px;
    padding-left: 10px;
    height: 62%;
  }