ion-avatar {
  margin: auto;
  background-color: #272e3f;
  display: flex;
  align-content: center;
  margin-bottom: 20px;
  width: 90px;
  height: 90px;
}
ion-slide {
  width: 100px;
  height: 150px;
  border: 1px solid #f8f8f8;
  margin: 10px; 
  border-radius: 10px;
  background-color: #363f58;
}
ion-label {
  margin-top: 20px;
  color: white;
}
