<ion-card color="light" style="border-radius: 10px;">
  <img style="width: 100%; height: 140px;" src="/assets/img/Screenshot_202.png" />
  <ion-card-header>
    <ion-card-title>Get a free bottle of wine on us at Rock Café</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    You and your new home are the perfect pairing, and to celebrate, why not dine at a neighborhood restaurant ?
  </ion-card-content>
</ion-card>
<ion-card color="light" style="border-radius: 10px;">
  <img style="width: 100%; height: 140px;" src="/assets/img/Screenshot_203.png" />
  <ion-card-header>
    <ion-card-title>Our Response to COVID-19</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    To learn more about we'll use to safely and restaurant home are the perfact pairing, and to celebrate ?
  </ion-card-content>
</ion-card>