<ion-header>
  <ion-toolbar>
    <ion-title>Messaging Group</ion-title>
    <ion-buttons *ngIf="locationDetail" slot="end" [routerLink]="['new-message']"
      [state]="{managementUserId: managementUser.id, locationId: locationDetail.id }">
      <fa-icon [icon]="['fas', 'plus-circle']"
        style="color:#32a8db;font-size: 24px; line-height: 60px; float: right; padding-right: 15px;"></fa-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item [routerLink]="[ 'add-message']"
      [state]='{messagingGroup: group, managementUser: managementUser, locationDetail: locationDetail }'
      *ngFor="let group of messageGroups">
      <div>
        <h5 style="margin-bottom: 0; line-height: 50px; padding-left: 5px;"
          *ngIf="!group.selected && group.otherUsers.length == '1'">
          <span *ngFor="let user of group.otherUsers">{{user.name}}</span>
        </h5>
        <h5
          style="margin-bottom: 0; line-height: 50px; padding-left: 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
          *ngIf="!group.selected && group.otherUsers.length > 1">
          You,<span *ngFor="let user of group.otherUsers; let last = last"> {{user.name}}<span
              *ngIf="!last">,</span></span>
        </h5>
        <!--<h5 style="margin-bottom: 0; color: #32a8db; line-height: 50px; padding-left: 5px;" *ngIf="group.selected">{{group.name}}</h5>-->
        <h5 style="margin-bottom: 0; color: #32a8db; line-height: 50px; padding-left: 5px;"
          *ngIf="group.selected && group.otherUsers.length == 1">
          <span *ngFor="let user of group.otherUsers">{{user.name}}</span>
        </h5>
        <h5
          style="margin-bottom: 0; color: #32a8db; line-height: 50px; padding-left: 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
          *ngIf="group.selected && group.otherUsers.length > 1">
          You,<span *ngFor="let user of group.otherUsers; let last = last"> {{user.name}}<span
              *ngIf="!last">,</span></span>
        </h5>
      </div>
      <!-- <div class="col-sm-2" style="height: 50px; padding-top: 15px;">
        <fa-icon [icon]="faChevronRight" class="chevron-right-icon" *ngIf="!group.selected"
          style="font-size: 18px; line-height: 18px; float: right; margin-right: 5px;"></fa-icon>
        <fa-icon [icon]="faChevronRight" class="chevron-right-icon" *ngIf="group.selected"
          style="font-size: 18px; line-height: 18px; float: right; margin-right: 5px; color: #32a8db;"></fa-icon>
      </div> -->
    </ion-item>
  </ion-list>
</ion-content>