
<ion-content>
  <!-- <ion-searchbar disabled="true" mode="ios" [routerLink]="['/message-board/add-message-group']"
    (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" [routerLink]="['/message-board/add-message-group']">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide *ngFor="let card of candos1">
      <ion-col class="ion-text-center">
        <ion-avatar style="margin-bottom: 10px;">
        </ion-avatar>
        <ion-label class="ion-text-wrap" style="text-align: center;font-size: 12px !important; max-height: 30px;">
          {{(card.title).length > 15 ? (card.title).slice(0, 15) + '...' : card.title }}
        </ion-label>
      </ion-col>
    </ion-slide>
  </ion-slides> -->
  <ion-list>
    <ion-item [routerLink]=" ['/message-board/chat-details']" [state]="{messagingGroup: chatGroup}" lines="none"
      *ngFor="let chatGroup of chatGroups">
      <ion-avatar>
      </ion-avatar>
      <ion-label *ngIf="chatGroup.name" class="ion-text-wrap" class="ion-margin-start">
        {{chatGroup.name}}</ion-label>
      <ion-label *ngIf="!chatGroup.name && chatGroup.otherUsers.length" class="ion-text-wrap" class="ion-margin-start">
        You,<span *ngFor="let user of chatGroup.otherUsers; let last = last"> {{user.name}}<span
            *ngIf="!last">,</span></span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>